.faq-page {
    font-family: sans-serif;
  }
  
  .faq-page h2 {
    color: #6e6e6e;
    font-size: 2.5rem;
    margin-bottom: 50px;
    line-height: 0.65;
    margin-top: 30px;
  }
  
  .faq-page h3 {
    margin-bottom: 0px;
    line-height: 0.5;
    position: relative;
    left: 0px;
  }
  
  .faq-page p {
    color: #6e6e6e;
    margin-top: 15px;
    margin-bottom: 45px;
    position: relative;
    top: -0px;
    left: 5px;
    border-left: 2px solid black;
    padding-left: 10px;
  }
  